.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 866px;
  background-image: url(../../images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.box {
  border-radius: 3px;
  background-color: #00000034;
  backdrop-filter: blur(10px);
  width: 500px;
}

.box div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  max-width: 100%;
}

.box label{
  font-weight: bold;
}

.box input{
  font-weight: bold;
}
.box input:hover{
  border-color: rgb(255, 136, 0);
}